extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Wing'


block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *
    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container'
    })



    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-white',
        pageHeaderStyle: 'page-header-white',
        svgBorderFill: 'text-dark'
    })

        .page-header-content
            .container
                .row.align-items-center
                    .col-lg-8
                        h1.page-header-title.pt-4 About us
                        h1.pt-4 Mission
                        p.page-header-text.md-5.pt-4 Wing exists to increase equitable access to virtual health care in a COVID-19 world
                        h1.pt-4 Team
                        p.page-header-text.md-5.pt-4 Stephen Grinich is an engineer with experience building telemedicine and digital health products. Stephen studied health care innovation at UCSF Innovation Ventures and computer science, mathematics and health economics at Carleton College. 
                            a.icon-list-social-link(href='https://www.linkedin.com/in/stephengrinich', target='_blank')
                                i.fab.fa-linkedin
                        p.page-header-text.md-5 Jinsy Jacob, MD, MBA is a pediatrician and Medical Director of Innovation, Quality and Research at Nevada Health Centers. She has worked with underserved communities throughout her career and is passionate about developing innovative solutions that help solve problems that are faced by her patients.    
                            a.icon-list-social-link(href='https://www.linkedin.com/in/jjacobmdmba', target='_blank')
                                i.fab.fa-linkedin
                        p.page-header-text.md-5 Nikhil Yedulla is pursuing a medical degree at Wayne State University School of Medicine. Nikhil brings his experience in telehealth research at Henry Ford Health System and medtech commercialization as CMO of Surgicure Technologies. Nikhil studied biological science and economics at Wayne State University. 
                            a.icon-list-social-link(href='https://www.linkedin.com/in/nikhil-yedulla-3a7048142', target='_blank')
                                i.fab.fa-linkedin
                        p.page-header-text.md-5 Sabrina Dass is pursing a medical degree at Wayne State University School of Medicine. She has worked with many underserved patients in both the Flint and Detroit communities, witnessing barriers to health care and how telehealth can improve access for those who need it most. Sabrina studied chemistry at Kalamazoo College.
                            a.icon-list-social-link(href='https://www.linkedin.com/in/sabrina-dass-199b13a6/', target='_blank')
                                i.fab.fa-linkedin
                        h1.pt-4 Our Story 
                        p.page-header-text.md-5.pt-4 The team met at the <a href="https://www.youtube.com/watch?v=S_VjyVsAQhY&feature=emb_title"> MIT COVID-19 Challenge - Beat The Pandemic</a> and coalesced around the idea of hyperlocal telehealth delivery within their local communities. We were selected as a top team for the track focusing on new ways to deliver care in a COVID-19 world. Wing has also participated in the Sling Health Bootcamp and UCSF COVID-19 Hackathon.

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
