extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Wing Health'


block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *
    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container'
    })



    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-white',
        pageHeaderStyle: 'page-header-white',
        svgBorderFill: 'text-dark'
    })

        .page-header-content
            .container
                .row.align-items-center
                    .col-lg-8
                        h1.page-header-title.pt-4 About us
                        h1.pt-4 Mission
                        p.page-header-text.md-5.pt-4 We believe health care is delivered best when it reflects the unique and diverse needs of the communities served, and that individuals recieve the best care from professionals in their neighborhoods, towns and cities. Our mission at Wing Health is to connect patients with local and trusted providers offering telehealth. 
                        h1.pt-4 Team
                        p.page-header-text.md-5.pt-4 Stephen Grinich brings career experience building telemedicine solutions and digital health products. Stephen grew up in a small town in the Willamette Valley of Oregon, the type of community now adopting telehealth for the first time. Stephen studied health care and digital health innovation at UCSF Innovation Ventures and computer science, mathematics and health economics at Carleton College. 
                            a.icon-list-social-link(href='https://www.linkedin.com/in/stephengrinich', target='_blank')
                                i.fab.fa-linkedin
                        p.page-header-text.md-5 Jinsy Jacob, MD, MBA is a pediatrician and Medical Director of Innovation, Quality and Research at Nevada Health Centers. She has worked with underserved communities throughout her career and is passionate about developing innovative solutions that help solve problems that are faced by her patients.
                            a.icon-list-social-link(href='https://www.linkedin.com/in/jjacobmdmba', target='_blank')
                                i.fab.fa-linkedin
                        p.page-header-text.md-5 Nikhil Yedulla is pursuing a medical degree at Wayne State University School of Medicine. Nikhil brings his experience in telehealth research at Henry Ford Health System and medtech commercialization as CMO of Surgicure Technologies. Nikhil studied biological science and economics at Wayne State University. 
                            a.icon-list-social-link(href='https://www.linkedin.com/in/nikhil-yedulla-3a7048142', target='_blank')
                        p.page-header-text.md-5 Sabrina Dass is pursuing a medical degree at Wayne State University School of Medicine.
                            a.icon-list-social-link(href='https://www.linkedin.com/in/sabrina-dass-199b13a6/', target='_blank')
                                i.fab.fa-linkedin
                        h1.pt-4 Our Story 
                        p.page-header-text.md-5.pt-4 Stephen, Jinsy and Nikhil met at the <a href="https://www.youtube.com/watch?v=S_VjyVsAQhY&feature=emb_title"> MIT COVID-19 Challenge - Beat The Pandemic</a> and coalesced around the idea of hyperlocal telehealth delivery within their local communities. We were selected as a top team for the track focusing on new ways to deliver care in a COVID-19 world. Wing Health has also participated in the Sling Health Bootcamp and UCSF COVID-19 Hackathon.

            .container            
                .row.align-items-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/ucsf-hackathon.jpeg').mb-5
                    .col-lg-6
                        img.img-fluid(src='assets/img/covid-challenge.png').mb-5
                .row.align-items-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/stanfordrebuild.png').mb-5
                    .col-lg-6
                        img.img-fluid(src='assets/img/sling-health.png').mb-5

            

                //- .row.align-items-center
                //-     .col-lg-8
                //-         h1.page-header-title.pt-4 Team
                //-         p.page-header-text.md-5.pt-4 Stephen Grinich, CEO and Founder. Experience developing impactful telemedicine solutions at scale at 98point6 and Amwell (previously Avizia, Carena). Health care and digital health innovation at UCSF Innovation Ventures. Computer science, mathematics and health economics at Carleton College. 
                //-         p.page-header-text.md-5 Jinsy Jacob, MD, MBA. Medical Director of Innovation at Nevada Health Centers. Experience with launching and growing a successful telemedicine program at Nevada Health Centers.
                //-         p.page-header-text.md-5 Nikhil Yedulla, MD Candidate. Pursuing medical degree at Wayne State University School of Medicine Experience with telehealth research at Henry Ford Health System and medtech commercialization as CMO of Surgicure Technologies. Biological science and Economics at Wayne State University
                //-         h1.page-header-title.pt-4 Mission
                //-         p.page-header-text.md-5.pt-4 We believe health care is best when provided hyperlocally. Individuals who receive the best care from professionals in their neighborhoods, towns and cities will connect with providers that reflect the unique and diverse neeeds of the communities they serve. We stand to enable 


                //- .row.align-items-center
                //-     .col-lg-12.text-center
                //-         h1 Questions about insurance or payments?
                //-         h1 Reach out to our Care Coordination team at <a href="tel:(415) 413-7136‬">(415) 413-7136</a> or <a href="mailto:contact@wing.health‬">contact@wing.health</a>

            

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
