extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Wing'


block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *
    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container'
    })



    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-white',
        pageHeaderStyle: 'page-header-white',
        svgBorderFill: 'text-dark'
    })

        .page-header-content
            .container
                .row.align-items-center
                    .col-lg-7
                        h1.page-header-title Curry Senior Center
                        p.page-header-text.md-5 Curry Senior Center is solely dedicated to helping low income and homeless seniors through a holistic care approach
                    .col-lg-5
                        img.img-fluid(src='assets/img/cliniclogos/curry.jpg', height="50px").mb-5
      
                //- .row.align-items-center
                //-     .col-lg-12.text-center
                //-         h1 Questions about insurance or payments?
                //-         h1 Reach out to our Care Coordination team at <a href="tel:(415) 413-7136‬">(415) 413-7136</a> or <a href="mailto:contact@wing.health‬">contact@wing.health</a>

                .row.align-items-center.pt-4
                    .col-lg-12.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                h1 Questions about insurance or payments?
                                h1 Reach out to our Care Support team at <a href="tel:(415) 413-7136‬">(415) 413-7136</a> or <a href="mailto:contact@wing.health‬">contact@wing.health</a>
                                //- .h1 Schedule appointment
                                //- .p Your virtual visit will take place via a video or phone call. Select a time that works for you below. We look forward to connecting you to BAART Community Care

                .row.align-items-center.pt-4
                    .col-lg-12.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                h1 Tell us about yourself and we will help you book a virtual visit within 48 hours
                                //- <!-- Begin Mailchimp Signup Form --> <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css"> #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block. We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="https://health.us19.list-manage.com/subscribe/post?u=60f25dc9e60410744bfbf2f9c&amp;id=170a42c8da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> <div id="mc_embed_signup_scroll"> <div class="mc-field-group"> <label for="mce-FNAME">First Name </label> <input type="text" value="" name="FNAME" class="required" id="mce-FNAME"> </div> <div class="mc-field-group"> <label for="mce-LNAME">Last Name </label> <input type="text" value="" name="LNAME" class="required" id="mce-LNAME"> </div> <div class="mc-field-group"> <label for="mce-MMERGE5">What type of care are you seeking? </label> <input type="text" value="" name="MMERGE5" class="required" id="mce-MMERGE5"> </div> <div class="mc-field-group"> <label for="mce-EMAIL">Email Address </label> <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group size1of2"> <label for="mce-MMERGE6">Phone Number </label> <input type="text" name="MMERGE6" class="required" value="" id="mce-MMERGE6"> </div> <div id="mce-responses" class="clear"> <div class="response" id="mce-error-response" style="display:none"></div> <div class="response" id="mce-success-response" style="display:none"></div> </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--> <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60f25dc9e60410744bfbf2f9c_170a42c8da" tabindex="-1" value=""></div> <div class="clear"><input type="submit" value="Submit " name="subscribe" id="mc-embedded-subscribe"  class="btn btn-teal btn-marketing rounded-pill"></div> </div> </form> </div> <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[6]='MMERGE6';ftypes[6]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->
                                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> <style type="text/css"> #mc_embed_signup { background: #fff; clear: left; font: 14px Helvetica, Arial, sans-serif; margin:0px; padding:0px; display:inline; } /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block. We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ </style> <div id="mc_embed_signup"> <form action="https://health.us19.list-manage.com/subscribe/post?u=60f25dc9e60410744bfbf2f9c&amp;id=170a42c8da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> <!-- <div id="mc_embed_signup_scroll"> --> <div class="mc-field-group"> <label for="mce-FNAME">First Name </label> <input type="text" value="" name="FNAME" class="required" id="mce-FNAME"> </div> <div class="mc-field-group"> <label for="mce-LNAME">Last Name </label> <input type="text" value="" name="LNAME" class="required" id="mce-LNAME"> </div> <div class="mc-field-group"> <label for="mce-MMERGE5">What type of care are you seeking? </label> <input type="text" value="" name="MMERGE5" class="required" id="mce-MMERGE5"> </div> <div class="mc-field-group"> <label for="mce-EMAIL">Email Address </label> <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div> <div class="mc-field-group size1of2"> <label for="mce-MMERGE6">Phone Number </label> <input type="text" name="MMERGE6" class="required" value="" id="mce-MMERGE6"> </div> <div id="mce-responses" class="clear"> <div class="response" id="mce-error-response" style="display:none"></div> <div class="response" id="mce-success-response" style="display:none"></div> </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--> <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60f25dc9e60410744bfbf2f9c_170a42c8da" tabindex="-1" value=""></div> <div class="clear"><input type="submit" value="Submit " name="subscribe" id="mc-embedded-subscribe" class="btn btn-teal btn-marketing rounded-pill"></div> <!-- </div> --> </form> </div> <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script> <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[5] = 'MMERGE5'; ftypes[5] = 'text'; fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[6] = 'MMERGE6'; ftypes[6] = 'phone'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script> <!--End mc_embed_signup-->

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
