extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Wing Health'


block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *
    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container'
    })


    include mixins/header.pug
    +header({
        svgBorderFill: 'text-dark',
        pageHeaderBg: 'bg-white',
        pageHeaderStyle: 'page-header-white'
    })
        .page-header-content
            .container
                .row.align-items-center.text-center.pt-4
                    .col-lg-12
                        h1.page-header-title Find a clinic
                        p.page-header-text.mb-5 San Francisco centers now offering telehealth services
                .row.pt-4.text-center.pt-4
                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                    img.img-fluid(src='assets/img/cliniclogos/baart.png', height="100px")        
                                    .h1.pt-4 BAART Community HealthCare
                                    .p.text-dark.pt-4 (415) 863-3883
                                    a(href='https://www.baarthealthcare.org/', target ="_blank").pt-4 baarthealthcare.org

                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                    img.img-fluid(src='assets/img/cliniclogos/curry.jpg',  height="100px")        
                                    .h1.pt-4 Curry Senior Center
                                    .p.text-dark.pt-4 (415) 920-1351
                                    a(href='https://curryseniorcenter.org/', target ="_blank").pt-4 curryseniorcenter.org

                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                .text-center
                                    img.img-fluid(src='assets/img/cliniclogos/360.png', height="100px")        
                                    .h1.pt-4 HealthRIGHT 360
                                    .p.text-dark.pt-4 (415) 487-5638
                                    a(href='http://www.healthright360.org', target ="_blank").pt-4 healthright360.org

                .row.pt-4.text-center.pt-4
                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                    img.img-fluid(src='assets/img/cliniclogos/mnhc.png', height="100px")        
                                    .h1.pt-4 Mission Neighborhood Health Center
                                    .p.text-dark.pt-4 (415) 552-1013
                                    a(href='http://www.mnhc.org/', target ="_blank").pt-4 mnhc.org

                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                .text-center
                                    img.img-fluid(src='assets/img/cliniclogos/native.png', height="100px")        
                                    .h1.pt-4 Native American Health Center
                                    .p.text-dark.pt-4 (415) 621-8051
                                    a(href='http://www.nativehealth.org/', target ="_blank").pt-4 nativehealth.org

                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                    img.img-fluid(src='assets/img/cliniclogos/nems.png', height="100px")        
                                    .h1.pt-4 North East Medical Services
                                    .p.text-dark.pt-4 (415) 391-9686
                                    a(href='http://www.nems.org/', target ="_blank").pt-4 nems.org

                .row.pt-4.text-center.pt-4
                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                    img.img-fluid(src='assets/img/cliniclogos/pp.png', height="100px")                                    
                                    .h1.pt-4 Planned Parenthood Northern California
                                    .p.text-dark.pt-4 (415) 821-1282
                                    a(href='https://www.plannedparenthood.org/planned-parenthood-northern-california', target ="_blank").pt-4 plannedparenthood.org

                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                    img.img-fluid(src='assets/img/cliniclogos/sfchc.jpg', height="100px")                                    
                                    .h1.pt-4 San Francisco Community Health Center
                                    .p.text-dark.pt-4 (415) 292-3400
                                    a(href='https://www.sfcommunityhealth.org/', target ="_blank").pt-4 sfcommunityhealth.org

                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                    img.img-fluid(src='assets/img/cliniclogos/sffc.png', height="100px")                                    
                                    .h1.pt-4 San Francisco Free Clinic
                                    .p.text-dark.pt-4 (415) 750-9894
                                    a(href='https://sffc.org/', target ="_blank").pt-4 sffc.org

                .row.pt-4.text-center.pt-4
                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                    img.img-fluid(src='assets/img/cliniclogos/soma.jpg', height="100px")                                    
                                    .h1.pt-4 South of Market Health Center
                                    .p.text-dark.pt-4 (415) 503-6000
                                    a(href='http://smhcsf.org/', target ="_blank").pt-4 smhcsf.org

                    .col-lg-4.mb-5.mb-lg-0
                        .card.h-100
                            .card-body.p-5
                                    img.img-fluid(src='assets/img/cliniclogos/stanthony.png', height="100px")                                    
                                    .h1.pt-4 St. Anthony Medical Clinic
                                    .p.text-dark.pt-4 (415) 241-8320
                                    a(href='https://www.stanthonysf.org/', target ="_blank").pt-4 stanthonysf.org

                    //- .col-lg-4.mb-5.mb-lg-0
                    //-     .card.h-100
                    //-         .card-body.p-5
                    //-                 .h1 Street Outreach Services
                    //-                 .p.text-dark (415) 355-2250
                    //-                 a(href='https://www.facebook.com/SOS.VETSOS', target ="_blank").pt-4 Facebook page

        

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
