extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Wing Health'


block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *
    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'navbar-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-white',
        pageHeaderStyle: 'page-header-white',
        svgBorderFill: 'text-dark'
    })
        .page-header-content
            .container
                .row.align-items-center
                    .col-lg-7
                        h1.page-header-title SMS text onboarding to virtual care
                        p.page-header-text.mb-5 The Wing Health assistant connects individuals to your nearby virtual care offering and the resources needed for connectivity and communication
                        .container            
                            .row.align-items-center
                                .col-lg-6
                                    a.btn.btn-teal.btn-marketing.rounded-pill(href='features.html') See Features
                                .col-lg-6
                                    a.btn.btn-teal.btn-marketing.rounded-pill(href='see-demo.html') Schedule demo 
                    .col-lg-5
                        img.img-fluid(src='assets/img/screenshot-sms/speak-english.png')

                    .container.pt-5

    include mixins/header.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        sectionPadding: 'py-1   ',
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container
            .row.align-items-center
                .col-lg-5
                    img.img-fluid(src='assets/img/svgs/holding-phone-colour.svg').mb-5
                .col-lg-7
                    h1.page-header-title Wing Health addresses inequity in access to virtual care 
                    p.page-header-text The Wing Health assistant connects patients to nearby affordable devices, WIFI access hotspots, affordable data plans, multi-language onboarding and more to enable access to virtual care

            .mt-5.text-center
                a.btn.btn-teal.btn-marketing.rounded-pill(href='features.html') Features

    include mixins/header.pug
    +header({
        pageHeaderStyle: 'page-header-white',
        sectionPadding: 'py-1   ',
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container
            .row.align-items-center
                .col-lg-5
                    img.img-fluid(src='assets/img/svgs/remote-work-man.svg').mb-5
                .col-lg-7
                    h1.page-header-title Expand your reach and onboard patients to virtual care
                    p.page-header-text.mb-5 Wing Health makes it easy reach patients where they are over SMS. We connect individuals to local resources for digital access, then connect them to you for virtual care appointments

            .mt-5.text-center
                a.btn.btn-teal.btn-marketing.rounded-pill(href='provider.html') For providers

    //- include mixins/header.pug
    //- +header({
    //-     pageHeaderStyle: 'page-header-white',
    //-     sectionPadding: 'py-1   ',
    //-     svgBorderRounded: false,
    //-     svgBorderWaves: false,
    //-     svgBorderFill: 'text-white'
    //- })

    //-     .container
    //-         .row.align-items-center
    //-             .col-lg-5
    //-                 img.img-fluid(src='assets/img/svgs/holding-phone-colour.svg').mb-5
    //-             .col-lg-7
    //-                 h1.page-header-title For individuals, connect with virtual care physicians and resources to meet them
    //-                 p.page-header-text Text your center's assistant to learn about affordable devices, WIFI access hotspots, affordable data plans and schedule appointments with your health center

    //-         .mt-5.text-center
    //-             a.btn.btn-teal.btn-marketing.rounded-pill(href='individual.html') For individuals

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
