extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Telex'


block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *
    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-white',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'navbar-dark',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container'
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-white',
        pageHeaderStyle: 'page-header-white',
        svgBorderFill: 'text-dark'
    })
        .page-header-content
            .container
                .row.align-items-center
                    .col-lg-7
                        h1.page-header-title Text message onboarding to virtual care
                        p.page-header-text.mb-5 Connecting patients to your health center and the digital resources needed to access virtual care
                        .row.align-items-center
                            .col-lg-6.pt-4
                                a.btn.btn-teal.btn-marketing.rounded-pill(href='features.html') See Features
                            .col-lg-6.pt-4
                                a.btn.btn-teal.btn-marketing.rounded-pill(href='schedule-demo.html') Schedule demo 
                    .col-lg-5.pt-4
                        img.img-fluid(src='assets/img/screenshot-sms/languages.png')

                    .container.pt-5


            .container            
                .row.align-items-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/covid-challenge.png').mb-5
                    .col-lg-6
                        img.img-fluid(src='assets/img/ucsf-hackathon.jpeg').mb-5
                .row.align-items-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/stanfordrebuild.png').mb-5
                    .col-lg-6
                        img.img-fluid(src='assets/img/sling-health.png').mb-5

    include mixins/header.pug
    +header({
        pageHeaderStyle: 'page-header-dark',
        sectionPadding: 'py-1   ',
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container
            .row.align-items-center
                .col-lg-5
                    img.img-fluid(src='assets/img/svgs/holding-phone-colour.svg').mb-5
                .col-lg-7
                    h1.page-header-title Telex connects patients to nearby computers, tablets, smartphones, affordable cellular data plans and home WIFI options
                    p.page-header-text 

            .mt-5.text-center
                a.btn.btn-teal.btn-marketing.rounded-pill(href='features.html') Features

    include mixins/header.pug
    +header({
        pageHeaderStyle: 'page-header-white',
        sectionPadding: 'py-1   ',
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .container
            .row.align-items-center
                .col-lg-5
                    img.img-fluid(src='assets/img/svgs/remote-work-man.svg').mb-5
                .col-lg-7
                    h1.page-header-title Telex reaches patients where they are over SMS-based text messaging in English, Chinese and Spanish to share resources and schedule appointmentss

            .mt-5.text-center
                a.btn.btn-teal.btn-marketing.rounded-pill(href='features.html') Features

                //- a.btn.btn-teal.btn-marketing.rounded-pill(href='provider.html') For providers

    //- include mixins/header.pug
    //- +header({
    //-     pageHeaderStyle: 'page-header-white',
    //-     sectionPadding: 'py-1   ',
    //-     svgBorderRounded: false,
    //-     svgBorderWaves: false,
    //-     svgBorderFill: 'text-white'
    //- })

    //-     .container
    //-         .row.align-items-center
    //-             .col-lg-5
    //-                 img.img-fluid(src='assets/img/svgs/holding-phone-colour.svg').mb-5
    //-             .col-lg-7
    //-                 h1.page-header-title For individuals, connect with virtual care physicians and resources to meet them
    //-                 p.page-header-text Text your center's assistant to learn about affordable devices, WIFI access hotspots, affordable data plans and schedule appointments with your health center

    //-         .mt-5.text-center
    //-             a.btn.btn-teal.btn-marketing.rounded-pill(href='individual.html') For individuals

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
